html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* END TEST */
/* Fonts */
/*-----------------------------------------*/
/* Playfair */

/* Playfair */

@font-face {
    font-family: 'playfair';
    src: url('fonts/playfairdisplay-bold-webfont.eot');
    src: url('fonts/playfairdisplay-bold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/playfairdisplay-bold-webfont.woff2') format('woff2'), url('fonts/playfairdisplay-bold-webfont.woff') format('woff'), url('fonts/playfairdisplay-bold-webfont.ttf') format('truetype'), url('fonts/playfairdisplay-bold-webfont.svg#playfair_displaybold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'playfair';
    src: url('fonts/playfairdisplay-bolditalic-webfont.eot');
    src: url('fonts/playfairdisplay-bolditalic-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/playfairdisplay-bolditalic-webfont.woff2') format('woff2'), url('fonts/playfairdisplay-bolditalic-webfont.woff') format('woff'), url('fonts/playfairdisplay-bolditalic-webfont.ttf') format('truetype'), url('fonts/playfairdisplay-bolditalic-webfont.svg#playfair_displaybold_italic') format('svg');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'playfair';
    src: url('fonts/playfairdisplay-regular-webfont.eot');
    src: url('fonts/playfairdisplay-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/playfairdisplay-regular-webfont.woff2') format('woff2'), url('fonts/playfairdisplay-regular-webfont.woff') format('woff'), url('fonts/playfairdisplay-regular-webfont.ttf') format('truetype'), url('fonts/playfairdisplay-regular-webfont.svg#playfair_displayregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'playfair';
    src: url('fonts/playfairdisplay-italic-webfont.eot');
    src: url('fonts/playfairdisplay-italic-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/playfairdisplay-italic-webfont.woff2') format('woff2'), url('fonts/playfairdisplay-italic-webfont.woff') format('woff'), url('fonts/playfairdisplay-italic-webfont.ttf') format('truetype'), url('fonts/playfairdisplay-italic-webfont.svg#playfair_displayitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}
/*Raleway*/

@font-face {
    font-family: 'raleway-light';
    src: url('fonts/raleway-light-webfont.eot');
    src: url('fonts/raleway-light-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/raleway-light-webfont.woff2') format('woff2'), url('fonts/raleway-light-webfont.woff') format('woff'), url('fonts/raleway-light-webfont.ttf') format('truetype'), url('fonts/raleway-light-webfont.svg#ralewaylight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'raleway';
    src: url('fonts/raleway-medium-webfont.eot');
    src: url('fonts/raleway-medium-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/raleway-medium-webfont.woff2') format('woff2'), url('fonts/raleway-medium-webfont.woff') format('woff'), url('fonts/raleway-medium-webfont.ttf') format('truetype'), url('fonts/raleway-medium-webfont.svg#ralewaymedium') format('svg');
    font-weight: normal;
    font-style: bold;
}
@font-face {
    font-family: 'raleway';
    src: url('fonts/raleway-mediumitalic-webfont.eot');
    src: url('fonts/raleway-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/raleway-mediumitalic-webfont.woff2') format('woff2'), url('fonts/raleway-mediumitalic-webfont.woff') format('woff'), url('fonts/raleway-mediumitalic-webfont.ttf') format('truetype'), url('fonts/raleway-mediumitalic-webfont.svg#ralewaymedium_italic') format('svg');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'raleway';
    src: url('fonts/raleway-lightitalic-webfont.eot');
    src: url('fonts/raleway-lightitalic-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/raleway-lightitalic-webfont.woff2') format('woff2'), url('fonts/raleway-lightitalic-webfont.woff') format('woff'), url('fonts/raleway-lightitalic-webfont.ttf') format('truetype'), url('fonts/raleway-lightitalic-webfont.svg#ralewaylight_italic') format('svg');
    font-weight: normal;
    font-style: italic;
}
/*************Global**********************************************/

* {
    outline: none;
}
img {
    height: auto;
    max-width: 100%;
    text-align: center;
}
html {
    font-size: 14px;
}
/*******************************HEADER***************************/

.header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 1rem;
}
.logo {
    padding-bottom: 2%;
    padding-left: 1.5%;
    text-align: left;
}
.logo img {
    max-width: 120px;
}
.cart {
    cursor: pointer;
    width: 62px;
}
.main-navigation {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
}
.main-navigation ul {
    border-top: 1px solid #d7d7d7;
    text-align: center;
}
.main-navigation li {
    display: inline-block;
    margin: 0 1rem;
    text-transform: uppercase;
}
.main-navigation li a {
    text-decoration: none;
}
a {
    color: #e2574c;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
}
a:hover {
    color: #b64036;
}
.banner-container,
.about-container {
    width: 100%;
    max-width: 1240px;
}
/******************************HEROBANNER************************/

.banner {
    background: -webkit-linear-gradient( top, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%),
    url(images/banner-girl.png) no-repeat center 60px,
    url(images/flower-bkgd.jpg) repeat-x center top;
    background: linear-gradient( to bottom, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%),
    url(images/banner-girl.png) no-repeat center 60px,
    url(images/flower-bkgd.jpg) repeat-x center top;
    background-size: cover, 150px 369px, cover;
    height: 400px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}
.banner-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
}
.banner p {
    text-transform: uppercase;
    font-family: 'raleway', sans-serif;
    font-size: 1.25rem;
    color: white;
    text-transform: bold;
    text-shadow: 2px 2px 4px rgba(100, 100, 100, 0.8);
    margin-bottom: 1.6rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.banner h1 {
    font-family: 'playfair', serif;
    font-size: 3rem;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(100, 100, 100, 0.8);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.banner div img {
    margin: 0 auto;
}
/********************ABOUT SECTION**********************/

.about {
    text-align: center;
    display: block;
}
.about h2 {
    font-size: 2.5rem;
    color: #2d2d2d;
    font-family: 'playfair', serif;
    margin-top: 60px;
    margin-bottom: 20px;
    font-style: italic;
}
.about p {
    font-size: 1.15rem;
    font-family: 'raleway-light', sans-serif;
    line-height: 2;
    margin-bottom: 50px;
}
/*********************SHOP NOW BLOCK/photogrid******************************/

.shop-now-block {
    padding: 0;
}
.shop-type {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-align-content: flex-start;
        -ms-flex-line-pack: start;
            align-content: flex-start;
}
.shop-title {
    color: white;
    font-family: 'Raleway Web', sans-serif;
    font-size: 1.6rem;
    font-weight: bold;
    left: 50%;
    line-height: 1;
    position: absolute;
    text-shadow: 2px 2px 4px rgba(100, 100, 100, 0.8);
    text-transform: uppercase;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}
.shop-title a {
    color: white;
    text-decoration: none;
}
.shop-title a:hover {
    color: #f5ebc6;
}
.mens {
    background: -webkit-linear-gradient( top, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%),
    url('images/mens-category.jpg') no-repeat center center;
    background: linear-gradient( to bottom, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%),
    url('images/mens-category.jpg') no-repeat center center;
    background-size: cover, cover;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    border: 4px solid white;
    border-right: none;
    border-left: none;
    position: relative;
    height: 225px;
    -webkit-box-flex: 2;
    -webkit-flex: 2 0 100%;
        -ms-flex: 2 0 100%;
            flex: 2 0 100%;
}
.trends {
    height: 150px;
    background: -webkit-linear-gradient( top, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%),
    url('images/trends-category.jpg') no-repeat center center;
    background: linear-gradient( to bottom, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%),
    url('images/trends-category.jpg') no-repeat center center;
    background-size: cover, cover;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    border: 4px solid white;
    border-left: none;
    position: relative;
    height: 225px;
    width: 48%;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 50%;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
    max-width: 48%;
}
.glasses {
    height: 150px;
    background: -webkit-linear-gradient( top, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%),
    url('images/glasses-category.jpg') no-repeat center center;
    background: linear-gradient( to bottom, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%),
    url('images/glasses-category.jpg') no-repeat center center;
    background-size: cover, cover;
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
    border: 4px solid white;
    border-right: none;
    position: relative;
    height: 225px;
    width: 48%;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 50%;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
    max-width: 48%;
    border-right: none;
}
.sale {
    height: 150px;
    background: -webkit-linear-gradient( top, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%),
    url('images/sale-category.jpg') no-repeat center center;
    background: linear-gradient( to bottom, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%),
    url('images/sale-category.jpg') no-repeat center center;
    background-size: cover, cover;
    -webkit-box-ordinal-group: 5;
    -webkit-order: 4;
        -ms-flex-order: 4;
            order: 4;
    border: 4px solid white;
    border-left: none;
    position: relative;
    height: 225px;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 50%;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
    max-width: 48%;
}
.bags {
    height: 150px;
    background: -webkit-linear-gradient( top, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%),
    url('images/bags-category.jpg') no-repeat center center;
    background: linear-gradient( to bottom, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%),
    url('images/bags-category.jpg') no-repeat center center;
    background-size: cover, cover;
    -webkit-box-ordinal-group: 6;
    -webkit-order: 5;
        -ms-flex-order: 5;
            order: 5;
    border: 4px solid white;
    border-left: none;
    position: relative;
    height: 225px;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 50%;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
    max-width: 48%;
    border-right: none;
}
.womens {
    height: 150px;
    background: -webkit-linear-gradient( top, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%),
    url('images/womens-category.jpg') no-repeat center center;
    background: linear-gradient( to bottom, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%),
    url('images/womens-category.jpg') no-repeat center center;
    background-size: cover, cover;
    -webkit-box-ordinal-group: 7;
    -webkit-order: 6;
        -ms-flex-order: 6;
            order: 6;
    border: 4px solid white;
    border-right: none;
    border-left: none;
    position: relative;
    height: 225px;
    -webkit-box-flex: 2;
    -webkit-flex: 2 0 100%;
        -ms-flex: 2 0 100%;
            flex: 2 0 100%;
}
/****************************FEATURED PRODUCT/slider****************************/

.bxslider li {
    width: 100%vw!important;
}
.cart img {
    max-width: 80%;
    max-height: 80%;
}
.featured h1 {
    color: #2d2d2d;
    text-align: center;
    font-size: 2.4rem;
    font-family: 'playfair', serif;
    margin-bottom: 50px;
    margin-top: 75px;
    font-style: italic;
}
.featured h3 {
    text-transform: uppercase;
    font-family: 'raleway', sans-serif;
    text-align: center;
    font-weight: normal;
    font-size: 0.75rem;
    margin-bottom: .75rem;
    color: #969696;
}
.featured h2 {
    text-align: center;
    color: #e2574c;
    font-size: 1.5rem;
    font-weight: normal;
    margin-bottom: 1rem;
    font-family: 'playfair', serif;
    line-height: 1;
}
.featured p {
    text-align: center;
    color: #969696;
    font-family: 'raleway', sans-serif;
    line-height: 1;
    font-size: 1rem;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 70px;
}
.bx-wrapper {
    margin-bottom: 4rem;
}
.bx-wrapper .bx-viewport {
    border: 0;
    box-shadow: none;
    left: 0;
}
.bx-wrapper img {
    margin: 0 auto;
}
/******************NEWSLETTER***************************/

.newsletterbackground {
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%),
    url(images/wave-bkgd.jpg) no-repeat center bottom;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%),
    url(images/wave-bkgd.jpg) no-repeat center bottom;
    height: 320px;
    border-bottom: white 20px;
    border-top: #00bfff 30px;
    margin: 0 auto;
    padding-top: 20px;

}
.newsletter {
    max-width: 720px;
    margin: 0 auto;
    text-align: center;
}
.newsletter h2 {
    text-shadow: 2px 2px 4px rgba(100, 100, 100, 0.8);
    color: white;
    font-size: 2.4em;
    padding-top: 50px;
    font-family: 'playfair', serif;
    font-style: italic;
    text-align: center;
}
.newsletter p {
    font-size: 1.15rem;
    font-family: 'raleway-light', sans-serif;
    color: white;
    font-weight: normal;
    font-style: normal;
    padding: 25px 1rem 0 1rem;
    font-style: normal;
    text-align: center;
    line-height: 36.79px;
    margin: 0 auto
}
/*subscribe*******************/

.subscribe {
    margin: 2rem 3rem auto;
    width: 80%;
    position: absolute;
}
.subscribe input {
    font-size: 16px;
    font-family: 'raleway-light', sans-serif;
}
input[type="email"],
input[type="submit"] {
    border: 0;
    border-radius: 25px;
    padding: .5rem 1.75rem;
    color: black;
}
input[type="email"] {
    padding: .5rem 1.75rem;
    width: 80%;
    line-height: 2;
    margin: 0 auto;
    text-align: left;
}
input[type="email"]:focus {
    box-shadow: 1px 1px 6px rgba(100, 100, 100, 0.8);
    outline: none;
    cursor: black;
}
input[type="submit"] {
    background: #e2574c;
    color: white;
    cursor: pointer;
    font-weight: bold;
    position: absolute;
    right: 1.4rem;
    top: .3rem;
    line-height: 1.5;
}
input[type="submit"]:hover {
    background: #b64036;
}
/******************FOOTER*************************/

.footer-container {
    background-color: #242424;
    padding: 4rem 0;
    border-width: 10px;
    font-size: 1rem;
    border-top: 7px solid white;
    font-family: 'playfair', serif;
    font-weight: normal;
    overflow: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
}
.footer-container p {
    color: white;
    font-family: 'playfair', serif;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
}
/*masthead******************/

.masthead {
    display: inline-block;
    line-height: 1.5;
    text-align: center;
}
.contact {
    color: white;
    text-transform: none;
    line-height: 24px;
    margin-bottom: 16px;
    font-style: normal;
    padding-top: 10px;
    font-size: 16px;
    font-family: 'playfair', serif;
}
.contact a {
    color: white;
    text-decoration: underline;
    line-height: 1.5;
    margin-bottom: 16px;
    font-weight: bold;
    padding-top: 10px;
    font-size: 1rem;
    font-family: 'playfair', serif;
}
.contact a:hover {
    color: #e2574c;
    text-decoration: underline;
    margin-bottom: 16px;
    font-weight: bold;
    padding-top: 10px;
    font-size: 1rem;
}
.address{
  margin-top: 1.4rem;
}
.address p {
    color: #969696;
    font-family: 'playfair', serif;
}
/*social*************/

.network-name {
    display: none;
}
.social {
    font-family: 'raleway', sans-serif;
    font-style: normal;
    text-align: center;
    margin-top: 2rem;
    color: white;
    line-height: 1.5;
    list-style: none;
}
.social ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.social li {
    display: inline-block;
    padding-left: .5rem;
    padding-right: .5rem;
}
.social a {
    color: white;
    text-decoration: none;
}
.social a:hover {
    color: #e2574c;
    text-decoration: none;
    font-family: 'raleway', sans-serif;
    line-height: 1;
    cursor: pointer;
}
.social i {
    min-width: 25px;
}
/*******************************MEDIA QUERIES*****************************/

@media only screen and (min-width: 600px) {
    html {
        font-size: 16px;
    }
    /* Header */

    .header {
        -webkit-flex-wrap: nowrap;
            -ms-flex-wrap: nowrap;
                flex-wrap: nowrap;
    }
    .logo {
        width: 145px;
        -webkit-box-ordinal-group: 2;
        -webkit-order: 1;
            -ms-flex-order: 1;
                order: 1;
    }
    .cart {
        -webkit-box-ordinal-group: 4;
        -webkit-order: 3;
            -ms-flex-order: 3;
                order: 3;
    }
    .main-navigation {
        -webkit-box-ordinal-group: 3;
        -webkit-order: 2;
            -ms-flex-order: 2;
                order: 2;
    }
    .main-navigation ul {
        border: none;
        -webkit-align-self: center;
            -ms-flex-item-align: center;
                align-self: center;
        padding-right: 5rem;
    }
    .main-navigation li {
        font-size: .9rem;
        margin: 0 .5rem;
    }
    /* Banner */

    .season {
        font-size: 3rem;
    }
    /* About Copy */

    .about {
        padding-bottom: 60px;
    }
    .about p {
        max-width: 650px;
        margin: 0 auto;
    }
    /*Shop Now Block*/

    .mens{
      border-right:4px solid white;
    }
    .mens,
    .womens {
      -webkit-box-flex: 2;
      -webkit-flex: 2 0 40%;
          -ms-flex: 2 0 40%;
              flex: 2 0 40%;
      height: 240px;
    }
    .trends,
    .glasses,
    .sale,
    .bags {
      -webkit-box-flex: 1;
      -webkit-flex: 1 0 20%;
          -ms-flex: 1 0 20%;
              flex: 1 0 20%;
      height: 240px;
    }
    .bags {
      border: 4px solid white;
    }
    .trends{
      border: 4px solid white;
    }
    .womens {
      border-left:4px solid white;
      border-right: none;
    }
    /* Most Loved Products */

    .bxslider li {
        width: 50vw !important;
    }
    /* Newsletter Sign-up */

    .subscribe {
        margin: 2rem auto 0;
        width: 67%;
        position: relative;
        max-width: 720px;
    }
    input[type="submit"] {
        position: absolute;
        right: 1.7rem;
        top: .25rem;
        line-height: 1.5;
    }
    /* Footer */

    .footer {
        text-align: left;
    }
    .footer-container {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
            -ms-flex-direction: row;
                flex-direction: row;
    }
    .masthead {
        width: 50%;
        text-align: left;
        padding-left: 1.5rem;
    }
    .social {
        text-align: left;
        width: 20%;
        margin-top: 0rem;
    }
    .social ul {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
    }
    .social li {
        line-height: 2;
        font-family: 'raleway', sans-serif;
        font-size: 1rem;
    }
    .network-name {
        display: inline;
    }
}
@media only screen and (min-width: 1240px) {
    /* Header */

    .logo img {
        max-width: 160px;
        margin-left: 1.5rem;
    }
    .cart {
        width: 62px;
        padding-right: 2rem;
        padding-top: .2rem;
    }
    .cart img {
        max-width: 100%;
        max-height: 100%;
    }
    .main-navigation li {
        font-size: 1rem;
        margin: 1rem;
    }
    /* Banner */

    .banner {
        background-size: cover, 250px 615px, contain;
        height: 550px;
        position: relative;
        padding-bottom: 30px;
    }
    .banner h1 {
        font-size: 4rem;
    }
    /* About Copy */

    .about {
        padding-bottom: 50px;
    }
    /*Shop Categories Div*/

    .mens,
    .womens {
        -webkit-box-flex: 2;
        -webkit-flex: 2 0 40%;
            -ms-flex: 2 0 40%;
                flex: 2 0 40%;
        height: 300px;
    }
    .trends,
    .glasses,
    .sale,
    .bags {
        -webkit-box-flex: 1;
        -webkit-flex: 1 0 20%;
            -ms-flex: 1 0 20%;
                flex: 1 0 20%;
        height: 300px;
    }
    /* Most Loved Products */

    .bxslider li {
        width: 25vw !important;
    }
    /* Newsletter Sign-up */

    .sign-up-wrapper {
        width: 720px;
    }
    .subscribe {
        width: 67%;
    }
    /* Footer */

    .footer {
        text-align: left;
    }
    .footer-container {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
}
